.container {
    width: 100%;
    height: 100%;
}

.section {
    width: 100%;
    height: 100%;
    padding: 2rem 1.5rem;

    
}

.section-large {
    min-height: 100vh;
}

body {
    color: #4a4a4a;
    font-size: 1rem;
    font-weight: 200;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
}

.navbar-brand {
    display: flex;
    flex-shrink: 0;
    max-width: 100vw;
    min-height: 3.25rem;
    overflow-x: auto;
    overflow-y: hidden;
    margin-left: 2rem;
}

.navbar {
    font-weight: 400;
    
}

h1 {
    font-weight: 700;
}

.margin-24 {
    margin-bottom: 24px;
}

span {
    font-style: inherit;
    font-weight: inherit;
}

#section-dashboard {
    background-image: url("backgrounddashboard.png");
    background-repeat: no-repeat;
    background-size: auto;
    display: flex;
}

.section-registo {
    background-image: url("gradiente_autenticacao.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    display: flex;
}

.button-registar{
    margin-bottom: 10%;
}

.input {
    margin-bottom: 1%;
    margin-top: 1%;
}

#input4 {
    margin-bottom: 5%;
}

.icon {
    margin-top: 1%;
}

.button-dashboard, .message {
    margin-bottom: 4%;
}

#icon-countdown {
    float: right;
    margin-left: 5%;
}

#inputNome {
    margin-top: 14%;
}






