.container {
    width: 100%;
    height: 100%;
}

.section {
    width: 100%;
    height: 100%;
    padding: 3rem 1.5rem;

    
}

.section-large {
    min-height: 100vh;
}

body {
    color: #4a4a4a;
    font-size: 1rem;
    font-weight: 200;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
}

.navbar-brand {
    display: flex;
    flex-shrink: 0;
    max-width: 100vw;
    min-height: 3.25rem;
    overflow-x: auto;
    overflow-y: hidden;
}

.navbar {
    font-weight: 400;
}

h1 {
    font-weight: 700;
}

.margin-24 {
    margin-bottom: 24px;
}


span {
    font-style: inherit;
    font-weight: inherit;
}

.button {
    margin-right: 20%;
    margin-bottom: 20%;
}

#section-dashboard {
    background-image: url("dashboard_background.png");
    background-repeat: no-repeat;
    background-size: 100%;
    
}


.section-registo {
    background-image: url("fundo2.png");
    background-repeat: no-repeat;
    background-size: auto auto;
    width: 100%;
    display: flex;
}

.input {
    margin-bottom: 1%;
    margin-top: 1%;
}

.icon {
    margin-top: 1%;
}






